/* DATEI: steinbeis.css */


/*Timo Navbar*/

body {
    background: #ffffff;
    font-size: 22px;
    line-height: 32px;
    color: #000000;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    font-family: DINNextW01-Regular;
}


/* HIER BEGINNT DIE NAVIGATION */


/* Farbbalken */

.multi_color_border {
    width: 100%;
    height: 5px;
    background: linear-gradient(to right, #00283F 0%, #00283F 25%, #2992A8 25%, #2992A8 50%, #00283F 50%, #00283F 75%, #2992A8 75%, #2992A8 100%);
}


/* obere Navigationsleiste */

.top_nav {
    height: 30px;
    width: 100%;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
}

.top_nav ul {
    display: flex;
    list-style-type: none;
}

.top_nav ul li a {
    display: block;
    margin-left: 8px;
    padding-right: 40px;
    text-decoration: none;
    font-size: 12px;
    color: #666666;
}

.top_nav ul li a:hover {
    display: block;
    margin-left: 8px;
    padding-right: 40px;
    text-decoration: underline;
    font-size: 12px;
    color: #666666;
}


/* Hauptnavigationsleiste */

.hamburger,
[id^=drop] {
    display: none;
}

.toggle,
[id^=drop] {
    display: none;
}

nav {
    margin: 0;
    padding-left: 280px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .4);
}

#logo {
    display: block;
    float: left;
    line-height: 70px;
    height: 40px;
    margin: 10px 0 0 20px;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    align-items: center;
    justify-content: center;
}

nav ul li {
    margin-right: 10%;
    display: inline-block;
    background-color: #ffffff;
}

nav a {
    display: block;
    padding: 14px 10px;
    color: #000000;
    font-size: 17px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li ul li:hover {
    background: #00283F;
}

nav a:hover {
    font-weight: bold;
    color: #2992A8;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 60px;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    width: auto;
    float: none;
    display: list-item;
    position: relative;
    background: #ffffff;
    border-bottom: 1px solid #bababa;
}

nav ul ul li a {
    font-weight: normal;
    color: #00283F;
}

nav ul ul li a:hover {
    font-weight: normal;
    color: #ffffff;
}


/* "Handymodus" */

@media all and (max-width: 768px) {
    #logo {
        display: block;
        float: left;
        line-height: 70px;
        height: 40px;
        margin: 10px 0 0 20px;
    }
    nav {
        margin: 0 0 0 -280px;
    }
    .toggle+a,
    .menu {
        display: none;
    }
    .hamburger {
        display: block;
        background-color: #ffffff;
        padding: 14px 20px;
        color: #000000;
        size: 17px;
        text-decoration: none;
        border: none;
        float: right;
    }
    .toggle {
        display: block;
        background-color: #2992A8;
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
        text-decoration: none;
        border: none;
    }
    .toggle:hover {
        background-color: #00283F;
    }
    [id^=drop]:checked+ul {
        display: block;
        width: 100%;
    }
    nav ul li {
        display: block;
        width: 100%;
        float: left;
    }
    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }
    nav ul ul ul a {
        padding: 0 80px;
    }
    nav a:hover,
    nav ul ul ul a {
        background-color: #00283F;
    }
    nav ul li ul li .toggle,
    nav ul ul a,
    nav ul ul ul a {
        padding: 14px 20px;
        color: #FFF;
        font-size: 17px;
    }
    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #ffffff;
        color: #00283F;
    }
    nav ul ul {
        float: none;
        position: static;
        color: #ffffff;
    }
    nav ul ul li:hover>ul,
    nav ul li:hover>ul {
        display: none;
    }
    nav ul ul li {
        display: block;
        width: 100%;
        border-bottom: none;
    }
    nav ul ul ul li {
        position: static;
    }
}

@media all and (max-width: 330px) {
    nav ul li {
        display: block;
        width: 94%;
    }
}


/*Pauline css*/


/*Formatierung, die für die ganze Website gilt*/

.wrapper {
    padding: 0px 10px 100px 0px;
    /* top, right, bottom, left - aufpassen mit der höhe von der Box*/
    line-height: 1cm;
}


/*Back to Top Button*/

.gotopbtn {
    position: fixed;
    width: 40px;
    background: #00283F;
    bottom: 40px;
    left: 93%;
    border-radius: 8px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 22px;
    border: 1px solid white;
}

.gotopbtn:hover {
    background-color: #2992A8;
}


/*Damit man smooth nach oben kommt*/

html {
    scroll-behavior: smooth;
}


/*Schriftfarbe für Links*/

a {
    color: #002032;
}


/*damit die Aufzählung mit quatratischen Zeichen sind*/

ul {
    list-style-type: square;
}


/*Aufzählung mit Nummern (bei Box 3) */

ol {
    list-style-type: decimal;
}


/*Allgemein gilt:
	font-size = Textgröße
	text-align = auf welcher Position steht der Text
	backgound-image = damit der Hintergrund ein Bild ist
	background-size = damit das Bild auf der Größe bleibt, egal auf welchem Bildschirm angezeigt wird
	background-color = Hintergrundfarbe
	height = Höhe der Box / Bilder
	width = Breite der Box / Bilder
	padding = Rand für den Text innerhalb der Box
	margin-top/left/right/bottom = Abstand der Box zum Websiterand und zu anderen Boxen
	font-family = Schriftart
	*/


/*Formatierung für die Überschrift: Über uns */

h1 {
    padding-left: 35px;
    text-align: left;
    color: #002032;
    background-image: url("Bild8.jpg");
}


/*Die Aufzählung unter Über uns*/

.top1 {
    background-image: url("Bild8.gif");
    background-size: cover;
    height: auto;
    width: 100%;
    background-position: center;
    color: #002032;
    text-align: left;
    padding: 9px 5px 20px 5px;
    /* top, right, bottom, left - aufpassen mit der höhe von der Box*/
}


/*das kein Aufzählungspunkt in der erstern Box top1 angezeigt wird*/

.top1ul {
    list-style: none;
}


/*Formatierung Überschrift: Schwerpunktthemen und Publikationen*/

h2 {
    color: #002032;
    text-align: left;
    background-color: white;
}


/*Formatierung Überschrift: Wer sind wir*/

h6 {
    color: #002032;
    text-align: center;
    background-color: white;
    margin-bottom: 10px;
}


/*Formatierung zu den Punkten unter Wer sind wir*/

.box1 {
    color: #002032;
    text-align: center;
    padding: 0px 5px 20px 5px;
    /* top, right, bottom, left - aufpassen mit der höhe von der Box*/
    margin-bottom: 60px;
    margin-top: 120px;
}


/*Liste der Punkte unter Wer sind wir*/

.box1ul {
    list-style: disc;
    list-style-position: inside;
}


/*Formatierung zu dem Zitat*/

h3 {
    color: white;
    text-align: center;
    padding: 40px 15px 40px 15px;
    width: auto;
    height: auto;
    line-height: 45px;
    /*Damit entsteht die ovale Form*/
    border: 30px solid #2992A8;
    border-radius: 100%;
    background-color: #2992A8;
    margin-left: 25px;
    margin-right: 25px;
}


/*Formatierung zu Schwerpunktthemen*/

.box2 {
    background-color: white;
    position: leftwards;
    text-align: left;
    color: #00283F;
    padding: 10px 10px 10px 10px;
    margin-bottom: 30px;
}


/*Formatierung Überschrift: Steinbeis unterstützt*/

h5 {
    color: white;
    text-align: left;
    display: block;
    padding: 5px 10px 0px 10px;
    line-height: 50px;
}


/*Formatierung zu der Box von Steinbeis unterstützt*/

.box3 {
    background-color: #00283F;
    text-align: left;
    color: white;
    padding: 9px 5px 20px 5px;
    /* top, right, bottom, left */
    margin-bottom: 30px;
    height: auto;
    width: 100%;
}


/*Formatierung zu der Box von Publikationen*/

.box4 {
    background-color: white;
    color: #00283F;
    padding: 10px 10px 10px 10px;
    /* top, right, bottom, left */
    margin-bottom: 30px;
}


/*Formatierung Überschrift: Partner*/

h4 {
    text-align: left;
    padding: 10px 10px 10px 10px;
}


/*Formatierung der letzten Box Partner*/

.box5 {
    background-image: url("Bilder/Bild18.gif");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    color: white;
    padding: 10px 10px 10px 20px;
    /* top, right, bottom, left*/
    margin-bottom: 25px;
}


/*Footer von Benedikt*/


/* Container für den Text*/

.container {
    max-width: 1170px;
    margin: auto;
}


/*Container for the bockes*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.ul2 {
    /* kommt von ul */
    list-style: none;
}


/* footer overlay*/

.footer {
    background-color: #00283F;
    padding: 70px 0;
    /* kommt vom body*/
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    /* kommt von * */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Container for the singel bockes*/

.footer-col {
    width: 25%;
    padding: 0 15px;
}


/* Überschrift der Boxen*/

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}


/*blauer desgin balcken*/

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #2992A8;
    height: 2px;
    box-sizing: border-box;
    width: 180px;
}


/*abstand zwischen dem text*/

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}


/*Text bearbeitung*/

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}


/*hover effekt für die Schfrit*/

.footer-col ul li a:hover {
    color: #2992A8;
    padding-left: 8px;
}


/* bearbeitung der Kreise für Sozial media*/

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}


/* Farbe der einzelen socialmeda icons*/

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #2992A8;
}


/*responsive desgin*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}