/*footer*/
/*footer beginn*/
.page-footer{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
/* Container für den Text*/
.container{
	max-width: 1170px;
	margin:auto;
}
/*Container for the boxs*/
.row{
	display: flex;
	flex-wrap: wrap;
}
.list-unstyled{
	list-style: none;
}

h5{
    color: white !important;
}
/* footer overlay*/
.page-footer{
	background-color: #00283F;
    padding: 70px 0;
}
/* Container für die einelnen boxs*/
.col-md-3{
   width: 25%;
   padding: 0 15px;
}
/* Überschrift der Boxen*/
.col-md-3 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
/*Blauer Desgin Balken*/
.col-md-3 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #2992A8;
	height: 2px;
	box-sizing: border-box;
	width: 180px;
}
/*Abstand zwischen den Texten*/
.col-md-3 ul li:not(:last-child){
	margin-bottom: 10px;
}
/*Text bearbeitung*/
.col-md-3 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
/*Hover effekt für die Schriften*/
.col-md-3 ul li a:hover{
	color: #2992A8;
	padding-left: 8px;
}
/* Bearbeitung der Kreise für Sozial media*/
.col-md-3 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
/* Farbe der einzelen socialmeda icons*/
.col-md-3 .social-links a:hover{
	color: #ffffff;
	background-color: #2992A8;
}
/*footer Copyright*/
.footer-copyright{
    color: white;
    text-align: center;
}

/*responsive desgin für Desktop und mobil*/
@media(max-width: 767px){
  .col-md-3{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .col-md-3{
    width: 100%;
}
}
/*Footer ende*/