/*Timo Navbar*/ 
body {
	background: #ffffff;
	font-size:22px;
	line-height: 32px;
	color: #c48f8f;
	margin: 0;
	padding: 0;
	word-wrap: break-word ;
	}

/* HIER BEGINNT DIE NAVIGATION */	
/* Farbbalken */
.multi_color_border{
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #00283F 0% , #00283F 25%, #2992A8 25%, #2992A8 50%, #00283F 50%, #00283F 75%, #2992A8 75%, #2992A8 100%);
}

/* obere Navigationsleiste */
.top_navi{
  height: 30px;
  width: 100%;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_navi ul{
  display: flex;
  list-style-type:none;
  padding:10px;
}

.top_navi ul li a{
  display: block;
  padding: 0 7px 0 11px;
  text-decoration: none;
  font-size: 12px;
  color: #666666;
}

.top_navi ul li a:hover{
  display: block;
  padding: 0 7px 0 11px;
  text-decoration: underline;
  font-size: 12px;
  color: #666666;
}

/* Hauptnavigationsleiste */
.hamburger,
[id^=drop] {
	display: none;
}

.toggle-navi,
[id^=drop] {
	display: none;
}

.navi { 
	margin: 0;
	padding-left: 280px;
	background-color: #ffffff;
	box-shadow: 0 3px 15px rgba(0,0,0,.4);
	z-index:2;
}

#logo {
	display: block;
	float: left;
	line-height: 70px;
	height: 40px;
	margin: 10px 0 0 20px;
	z-index:2;
}

.navi:after {
	content:"";
	display:table;
	clear:both;
	z-index:2;
}

.navi ul {
	display: flex;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	align-items: center;
	justify-content: center;
	z-index:2;
	}
	
.navi ul li {
	margin-right: 10%;
	display:inline-block;
	background-color: #ffffff;
	z-index:2;
	}

.navi a {
	display:block;
	padding:14px 10px;	
	color:#000000;
	font-size:17px;
	text-decoration: none;
	font-weight: bold;
	z-index:2;
}

.navi ul li ul li:hover { background: #00283F; }

.navi a:hover { 
	font-weight: bold;
	color: #2992A8; 
	z-index:2;
}

.navi ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
	z-index:2;
}
	
.navi ul li:hover > ul {
	display:inherit;
	z-index:2;
}
	
.navi ul ul li {
	width: auto;
	float: none;
	display: list-item;
	position: relative;
	background: #ffffff;
	border-bottom: 1px solid #bababa;
	z-index:2;
}

.navi ul ul li a{
	font-weight: normal;
	color: #00283F;
	z-index:2;
}

.navi ul ul li a:hover{
	font-weight: normal;
	color: #ffffff;
	z-index:2;
}



/* "Handymodus" */

@media all and (max-width : 768px) {


	#logo {
		display: block;
		float: left;
		line-height: 70px;
		height: 40px;
		margin: 10px 0 0 20px;
		z-index:2;
	}

	.navi {
		margin: 0 0 0 -280px !important;
		z-index:2;
	}

	.toggle-navi + a,
	.menu {
		display: none !important;
	}

	.hamburger {
		display: block ;
		background-color: #ffffff;
		padding:14px 20px;	
		color:#000000;
		size:17px;
		text-decoration:none;
		border:none;
		float: right;
		z-index:2;
	}
	
	.toggle-navi {
		display: block;
		background-color: #2992A8;
		padding:14px 20px;	
		margin-bottom: 0rem!important;
		color:#FFF;
		font-size:17px;
		text-decoration:none;
		border:none;
		z-index:2;
	}

	.toggle-navi:hover {
		background-color: #00283F;
	}

	[id^=drop]:checked + ul {
		display: block !important;
		width: 100% !important;
	}

	.navi ul li {
		display: block;
		width: 100%;
		float: left;
		z-index:2;
		}

	.navi ul ul .toggle-navi,
	.navi ul ul a {
		padding: 0 40px;
		z-index:2;
	}

	.navi ul ul ul a {
		padding: 0 80px;
		z-index:2;
	}

	.navi a:hover,
 	.navi ul ul ul a {
		background-color: #00283F;
		z-index:2;
	}
  
	.navi ul li ul li .toggle-navi,
	.navi ul ul a,
  .navi ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
		z-index:2;
	}
  
  
	.navi ul li ul li .toggle-navi,
	.navi ul ul a {
		background-color: #ffffff; 
		color: #00283F;
		z-index:2;
	}

	.navi ul ul {
		float: none;
		position:static;
		color: #ffffff;
		z-index:2;
	}
		
	.navi ul ul li:hover > ul,
	.navi ul li:hover > ul {
		display: none;
		z-index:2;
	}
		
	.navi ul ul li {
		display: block;
		width: 100%;
		border-bottom: none;
		z-index:2;
	}

	.navi ul ul ul li {
		position: static;
		z-index:2;

	}


}

@media all and (max-width : 330px) {

	.navi ul li {
		display:block;
		width: 94%;
		z-index:2;
	}

}


/*Slider*/
.carousel-inner{
	height: 400px;
}
/*Slider Ende*/

.ueberschrift h1 {
	margin-top: 30px;
	text-align: center;
}


.carousel-inner {
	height: 400px !important ;

}

h1 {
	color: #00283F;
}

/*Boxen*/
.container_ {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

.container_ .box_ {
	position: relative;
	width: 450px;
	padding: 40px;
	background: #ffffff;
	color: #00283F;
	box-shadow: 0 5px 15px rgba(0,0,0,.1);
	border-radius: 10px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.container_ .box_:before {
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,.2);
	z-index: 2;
}

.container_ .box_ ul {
	text-align: left;
}

.container_ .box_ .icon_ {
	position: relative;
	width: 80px;
	height: 80px;
	color: #fff;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;
	margin-bottom: 20px;
}

.container_ .box_:nth-child(1) .icon_ {
	box-shadow: 0 0 0 0 #00283F;
	background: #00283F;
}
.container_ .box_:nth-child(1):hover .icon_ {
	box-shadow: 0 0 0 800px #00283F;
	background: #00283F;
}

.container_ .box_:nth-child(2) .icon_ {
	box-shadow: 0 0 0 0 #00283F;
	background: #00283F;
}
.container_ .box_:nth-child(2):hover .icon_ {
	box-shadow: 0 0 0 800px #00283F;
	background: #00283F;
}

.container_ .box_:nth-child(3) .icon_ {
	box-shadow: 0 0 0 0 #00283F;
	background: #00283F;
}
.container_ .box_:nth-child(3):hover .icon_ {
	box-shadow: 0 0 0 800px #00283F;
	background: #00283F;
}

.container_ .box_ .content_ {
	position: relative;
	z-index: 1;
	transition: 0.5s;
}
.container_ .box_:hover .content_ {
	color: #ffffff;
}

.container_ .box_ .content_ h6 {
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}

.container_ .box_ .content_ p {
	margin: 0;
	padding: 0;
}

.container_ .box_ .content_ a {
	display: inline-block;
	padding: 10px 20px;
	background: #fff;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

/*Zurück nach oben Pfeil*/
	.gotopbtn{
		position: fixed;
		width:40px;
		background: #00283F;
		bottom: 40px;
		left: 93%;
		border-radius: 8px;
		text-decoration: none;
		text-align: center;
		line-height: 40px;
		color:white;
		font-size: 22px;
		border:1px solid white;
	}
	.gotopbtn:hover {
		background-color: #2992A8;
	}
/*Damit man smooth nach oben kommt bzw. nach unten*/

/*Beispiel Schutzschild*/




 .Beispiel1 {
	margin-top: 140px;
	display: flex;
	position: relative;
	height: 500px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;
 }

 .Beispiel1 img {
	float: left;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	width: 100%;
	height: auto;
 }

 .Beispiel1 h6 {
	text-align: center;
	align-items: center;
	justify-content: center;
	margin: 100px;


 }

 .Beispiel2 {
	 margin-top: 100px;
	display: flex;
	position: relative;
	height:500px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	align-items: center;

 }

 .Beispiel2 img {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	align-items: center;
	justify-content: center;
	max-width: 700px;
	max-height: 450px;
	width: 100%;
	height: auto;
 }

 .Beispiel2 h6 {
	float: left;
	justify-content: center;
	text-align: center;
	align-items: center;
	white-space: nowrap;
	margin: 100px;
 }

 @media all and (max-width : 600px) { 
		.Beispiel1 {
			height: 300px;
			display: block;
			margin-top: 0px;
		}

		.Beispiel1 h6 {
			font-size: 13px;
			break-inside: auto;
		}
		.Beispiel1 img {

		}
		.Beispiel2 {
			height: 400px;
			display: block;
			margin-top: 100px;
		}
		.Beispiel2 h6 {
			font-size: 13px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin: 10px;
		}
		.Beispiel img {
			margin: 0px;
		}
	}
	





/*footer beginn*/
.page-footer{
	position:relative;
	margin:0;
	padding:0;
	box-sizing: border-box;
	
}
/* Container für den Text*/
.container{
	max-width: 1170px;
	margin:auto;
}
/*Container for the boxs*/
.row{
	display: flex;
	flex-wrap: wrap;
}
.list-unstyled{
	list-style: none;
}

h5{
    color: white !important;
}
/* footer overlay*/
.page-footer{
	background-color: #00283F;
    padding: 70px 0;
}
/* Container für die einelnen boxs*/
.col-md-3{
   width: 25%;
   padding: 0 15px;
}
/* Überschrift der Boxen*/
.col-md-3 h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
/*Blauer Desgin Balken*/
.col-md-3 h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #2992A8;
	height: 2px;
	box-sizing: border-box;
	width: 180px;
}
/*Abstand zwischen den Texten*/
.col-md-3 ul li:not(:last-child){
	margin-bottom: 10px;
}
/*Text bearbeitung*/
.col-md-3 ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
/*Hover effekt für die Schriften*/
.col-md-3 ul li a:hover{
	color: #2992A8;
	padding-left: 8px;
}
/* Bearbeitung der Kreise für Sozial media*/
.col-md-3 .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
/* Farbe der einzelen socialmeda icons*/
.col-md-3 .social-links a:hover{
	color: #ffffff;
	background-color: #2992A8;
}
/*footer Copyright*/
.footer-copyright{
    color: white;
    text-align: center;
}

/*responsive desgin für Desktop und mobil*/
@media(max-width: 767px){
  .col-md-3{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .col-md-3{
    width: 100%;
}
}
/*Footer ende*/